{% extends 'base_admin.html.twig' %}

{% block stylesheets %}

 <link rel="stylesheet" type="text/css" href="{{asset('static/css/bootstrap.min.css')}}">
 <link rel="stylesheet" type="text/css" href="{{asset('static/css/style.css')}}">

{% endblock %}

{% block body %}
<div class="alert alert-primary" role="alert">
  shkCTF{0h_N0_Y0U_H4V3_4N_0P3N_SYNF0NY_D3V_M0D3_1787a60ce7970e2273f7df8d11618475}
</div>
{% endblock %}
