{% extends 'base.html.twig' %}

{% block stylesheets %}

 <link rel="stylesheet" type="text/css" href="{{asset('static/css/bootstrap.min.css')}}">
 <link rel="stylesheet" type="text/css" href="{{asset('static/css/style.css')}}">

{% endblock %}

{% block body %}

    <h1>Log Manager</h1>

    <p class="bg-dark"><code class="text-light">You used a {{ method }} method</code></p>

    <p>Welcome on this log manager, this application is under development, an administrator will check connections to make statistics</p>

    <p>Tests are currently made on the application, don't worry about it, the application will soon be finished</p>

    <img src="{{asset('static/images/cufin.gif')}}" class="center">

{% endblock %}
