<!DOCTYPE html>
<html lang="en">

<head>
  <title>Containment Forever</title>
  <link rel="stylesheet" href="/css/bootstrap.css"></link>
  <link rel="stylesheet" href="/css/style.css"></link>

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">
        Containment Forever
      </a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/confinement">Confinement</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/flag">Flag</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ObjectId</th>
            <th scope="col">Details</th>
            <th scope="col">Pseudo</th>
            <th scope="col">Name</th>
            <th scope="col">Date</th>
          </tr>
        </thead>
        <tbody>
          <% items.forEach(function(item) { %>
            <tr>
              <td><%if (item.is_active) { %> <%= item._id %> <% } else { %> Not indexed at the moment <% } %></td>
              <td><%if (item.is_active) { %> <a href="/item/<%= item._id %>"><%= item.name %></a> <% } else { %> Not indexed at the moment <% } %></td>
              <td><%= item.pseudo %></td>
              <td><%= item.name %></td>
              <td><%= item.date %></td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.js"></script>
</body>

</html>
