<!--templates/base.html-->

<!DOCTYPE HTML>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>{% block title %} {% endblock %}</title>        
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">        
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{{ url_for('static', filename='code.css') }}" rel="stylesheet" type="text/css">
        <style>
        .content {
            margin-top: 1em;
        }
        </style>
    </head>
    <body style="background-color: #d4b1b1;">
        <header>
            <nav class="navbar navbar-light" style="background-color: #943c3c;">
                <div class="container">
                    <ul class="nav">
                        <li class="nav-item mr-auto">
                            <a class="navbar-brand" href="/" style="color: #3b1818;"><b>SM4RT</b></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link active" href="/help" style="color: #c7c5c5;"><b>HELP</b></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/level/0" style="color: #f4ebeb;"><b>0</b></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/level/1" style="color: #f4ebeb;"><b>1</b></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/level/2" style="color: #f4ebeb;"><b>2</b></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/level/3" style="color: #f4ebeb;"><b>3</b></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/level/4" style="color: #f4ebeb;"><b>4</b></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <main class="container">
            {% block content %}
            {% endblock %}
        </main>
    </body>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q#f4ebeb+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</html>