* {
  color : white;
}

body {
  background-color: #007DB7 !important;
}
p {
  color: black;
}

.news {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}

.news{
  height: 80vh;
}

label {
  color: white;
}
