<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Aqua World</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"></link>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}"></link>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">
        Aqua world
      </a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          {% if user %}
          <li class="nav-item">
            <a class="nav-link" href="/news">News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="/admin-query?flag=flag" {% if user != "admin" %}disabled="disabled" {% endif %}>Admin Query</a>
          </li>
          {% endif %}
        </ul>
      </div>
      {% if not user %}
      <button class="btn btn-success" type="button" id="login-anonymously">Login anonymously</button>
      {% else %}
      <label>{{user}}</label>
      {% endif %}
    </nav>
    <div class="container">
      <div class="alert alert-info" role="alert">I hope you enjoyed this encoding misconfiguration :)</div>
      <pre>{{ flag }} </pre>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script>
      btnLogin = $("#login-anonymously");
      btnLogin.click(function() {
        document.location = "http://anonymous:anonymous@"+ document.location.host +"/news";
      });
    </script>

  </body>
</html>
