<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Aqua World</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"></link>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}"></link>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">
        Aqua world
      </a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link {% if not user %}disabled{% endif %}" href="/news" {% if not user %}disabled="disabled"{% endif %}>News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="/admin-query?flag=flag" {% if user != "admin" %}disabled="disabled" {% endif %}>Admin Query</a>
          </li>
        </ul>
      </div>
      {% if not user %}
      <button class="btn btn-success" type="button" id="login-anonymously">Login anonymously</button>
      {% else %}
      <label>{{user}}</label>
      {% endif %}
    </nav>
    <div class="container d-flex flex-md-column">
      <h1 class="text-center">Aqua world</h1>
      <img src="{{ url_for('static', filename='img/aquarium.png') }}"/>
      <div class="alert alert-primary" role="alert">
        Aqua world is my personate website, you can find some pieces of my aquarist life.
        You need to connect to access the website, even if it's anonymously!
      </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script>
      btnLogin = $("#login-anonymously");
      btnLogin.click(function() {
        document.location = "http://anonymous:anonymous@"+ document.location.host +"/news";
      });
    </script>

  </body>
</html>
