<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>WebFugu</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/wave.css}"/>
	<link rel="shortcut icon" type="image/png" th:href="@{/img/icon.png}">

	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
	<div class="container">
		<h1 class="center">Welcome to WebFugu !</h1>

		<p id="error" th:if="${errorMessage != null}" th:text="${errorMessage}">
		</p>

		<br/><br/>
		<div id="fishList">
		</div>

		<!-- Modal Trigger -->
		</div>

	<!-- Little touch -->
	<div class="ocean">
		<div class="wave"></div>
		<div class="wave"></div>
	</div>

	<p class="legal-disclaimer">
	Logo by Anièle<br>
	Waves by Ted McDonald
	</p>

	<!-- Loading fish list script -->
	<script th:src="@{/js/script.js}"></script>
	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>

